// Color variables
$primary-color: #da291c;

.section-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5rem;
}

.heading {
  font-size: 6rem;
  font-weight: 900;
  padding: 2rem;
  color: #28282b;
  position: relative;
  text-transform: uppercase;
}

.news {
  &-wrapper {
    padding: 2rem;
    font-size: 1rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
