@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "./scss-variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

html,
body {
  max-width: 100vw;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background: #d5d5d5;
}

.light {
  background-color: whitesmoke;
  color: black;
}

.dark {
  background-color: #111111;
  color: white;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color !important;
}
