// Color variables
$primary-color: #da291c;

.section-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.heading {
  margin: 2rem 0rem;
  font-size: 6rem;
  font-weight: 900;
  color: #28282b;
  position: relative;
  text-transform: uppercase;
}

.bike {
  &-wrapper {
    padding: 2rem;
    font-size: 1rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
